body {
    background-color: #fefae0;
    color: #540b0e; 
}
a:link {color: white;}
h1 {color: #335367;font-size: 30px;}
nav {background-color: #bc6c25;
padding: 10px;
margin-bottom: 30px;}
nav a {color: blue;}
nav a:hover {background-color: #dda15e;}
@media only screen and (max-width: 768px) {
    a {width: 100%;
    display: block;
padding-bottom: 15px;}
    .pipe1, .pipe2 {display: none; color: white;}

}
p {font-size: 15px;}
h2 {font-size: 25px;}
#skip {position: absolute;
    left: -999px;
    } /* positions the element relative to its parent */
    /* # sign before selector mean you are selecting by id */
    #skip:focus {
        left: 10px; /* move the skip back on screen when it is tabbed to */
        background-color: orange;
    }